// scss-lint:disable all
@font-face {
  font-family: 'hairshop';
  src: url('./assets/fonts/hairshop.eot');
  src: url('./assets/fonts/hairshop.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/hairshop.ttf') format('truetype'),
    url('./assets/fonts/hairshop.woff') format('woff'),
    url('./assets/fonts/hairshop.svg#hairshop') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hairshop' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-call:before {
  content: '\e902';
}
.ic-eye:before {
  content: '\e906';
}
.ic-like:before {
  content: '\e907';
}
.ic-map:before {
  content: '\e908';
}
.ic-search:before {
  content: '\e90b';
}
.ic-share:before {
  content: '\e90c';
}
.ic-star:before {
  content: '\e90e';
  color: #ede523;
}
