// scss-lint:disable all
@font-face {
  font-family: 'hairshop';
  src: url('./assets/fonts/hairshop.eot');
  src: url('./assets/fonts/hairshop.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/hairshop.ttf') format('truetype'),
    url('./assets/fonts/hairshop.woff') format('woff'),
    url('./assets/fonts/hairshop.svg#hairshop') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
