//scss-lint:disable all
i {
  font-family: 'hairshop' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-call:before {
  content: '\e900';
}

.ic-check:before {
  content: '\e901';
}

.ic-chevron:before {
  content: '\e902';
}

.ic-close:before {
  content: '\e903';
}

.ic-eye:before {
  content: '\e904';
}

.ic-like:before {
  content: '\e905';
}

.ic-map:before {
  content: '\e906';
}

.ic-menu:before {
  content: '\e907';
}

.ic-search:before {
  content: '\e908';
}

.ic-share:before {
  content: '\e909';
}

.ic-star:before {
  content: '\e90a';
}
